In [1]:
import numpy as np
import pandas as pd

In [13]:
data = pd.read_csv("processed_data.csv",'r')

In [14]:
data.head()

,",Id,MSSubClass,LotF","ontage,LotA","ea,Ove","allQual,Ove","allCond,Yea","Built,Yea","RemodAdd,MasVn",A,"ea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,1stFl","SF,2ndFl",...,"v,Fence_MnWw,MiscFeatu",e_Ga,"2,MiscFeatu",e_Oth,",MiscFeatu","e_Shed,MiscFeatu","e_TenC,SaleType_COD,SaleType_CWD,SaleType_Con,SaleType_ConLD,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abno","ml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_No","mal,SaleCondition_Pa",tial
0,"0,1,60,65.0,8450,7,5,2003,2003,196.0,706,0,150...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"1,2,20,80.0,9600,6,8,1976,1976,0.0,978,0,284,1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"2,3,60,68.0,11250,7,5,2001,2002,162.0,486,0,43...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"3,4,70,60.0,9550,7,5,1915,1970,0.0,216,0,540,7...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"4,5,60,84.0,14260,8,5,2000,2000,350.0,655,0,49...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data.iloc[0][0:3]

,Id,MSSubClass,LotF    0,1,60,65.0,8450,7,5,2003,2003,196.0,706,0,150...
ontage,LotA                                                          NaN
ea,Ove                                                               NaN
Name: 0, dtype: object